<!doctype html>
<html ng-app="css" >
  <head>
	<meta charset="utf-8">
	<title>AngularJS y CSS </title>
      
      
      <style>
           div{
              
                width: 600px;
                margin: 10px auto;
                text-align: center;
          }
           .contenedor{  border: solid 2px;}
          
          
           .angular{
                background: red;
                font-size: 40px;
                padding: 0 40px;
                color: #fff;
           }         
      </style>
    
      
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js" > </script>
  </head>
  <body>
	  
      <div ng-controller="controlador1" >
          
        <div class="contenedor">
            
            <p ng-style="estilos" > Yo controlo el estilo de mis aplicaciones con <span ng-class="claseEspecial" >AngularJS</span> </p><!--Etiqueta ng-style permite cambiar los estilos-->
        <!--'ClaseEspecial' llama a la funcion con click y la propiedad ng-class-->

        <!--Entonces ng-class llama a la funcion claseEspecial y esta llama a .angular de los estilos-->
          </div>
          
          
        <button ng-click = "cambiarPropiedades()" > Cambiar propiedades </button>
        <button ng-click="cambiarClases()">Cambiar Clases</button>
        <button ng-click="reiniciarClases()">Reiniciar</button>

      </div>
      
       
      
      
      <script>
      
          var miAplicacion = angular.module( 'css' , [] )
          
          miAplicacion.controller ( 'controlador1' , [ '$scope' , function($scope){
              
              
               $scope.cambiarPropiedades = function(){
                   
                   $scope.estilos = { "background" : "blue" , 'color': '#ffeb00' } 
                   
               }
               
               $scope.cambiarClases = function(){
                
                   $scope.claseEspecial = "angular"
               }
                
               
               $scope.reiniciarClases = function(){
                
                    $scope.estilos = ""//vamos a reiniciar los valores
                    $scope.claseEspecial= ""
                }
                    
               
            
          
          } ] )
          
      
      </script>
      

  </body>
</html>
