body{
    font-family: "arial";
}
.tarjeta{
    width:300px;
    border: solid 8px;
    text-align: center;
    margin: 15px;
    height: 200px
}
.tarjeta h1{
    font-family:"Comic Sans MS";
    font-weight: bold;
    font-size: 45px;
}
.tarjeta h2{
    text-align: left;
    margin: 0px;
    padding: 5px;
    color: #fff;
    background: red;
    font-size: 20px;
    font-style: italic;
}
